---
import "../styles/home.css";
---
    <audio autoplay>
        <source src="./assets/music/米津玄師 Kenshi Yonezu - KICKBACK.m4a"></audio>
    </audio>
    <div class="coffi_title">    
        <div class="title_galleta">
            <h2 class="title_origin">bienvenid@ a la cafeteria</h2>
            <h1 class="title_origin_2">LE BISCUIT</h1>
            <div class="galletas">
                <img src="/images/Logo.png" alt="">
            </div>
        </div>
    </div>    

