 ---
import Layout from "../layouts/Layout.astro"
import "../styles/information.css"
---

<Layout>
    <audio autoplay>
        <source src="../assets/music/米津玄師 Kenshi Yonezu - KICKBACK.m4a"></audio>
    </audio>
    <h1>Informacion</h1>
    <main class="informacion_grid">
        <div class="info_grid_1">
            <h1>Cafe</h1>
            <div class="information">
                <img src="/images/Cafe.jpg" alt="1">
                <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>

        <div class="info_grid_2">
            <h1>Capuchino</h1>
            <div class="information">
                <img src="/images/Capuchino.jpg" alt="2">
                 <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>

        <div class="info_grid_3">
            
            <h1>Cafe con Leche</h1>
            <div class="information">
                <img src="/images/Milk.jpg" alt="3">    
                <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>

        <div class="info_grid_4">
            <h1>Galletas</h1>
            <div class="information">                
                <img src="/images/Galleta.jpg" alt="4">
                <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>

        <div class="info_grid_5">
            <h1>Hotcakes</h1>
            <div class="information">
                <img src="/images/Panqueques.jpg" alt="5">
                <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>

        <div class="info_grid_6">
            <h1>Pastel de Chocolate</h1>
            <div class="information">
                <img src="/images/Pastel.jpg" alt="6">
                <p class="text_information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus aliquid, quas exercitationem, nostrum aperiam tempore similique esse quidem eveniet culpa eum hic, maiores mollitia excepturi necessitatibus delectus nisi sint?</p>
            </div>
        </div>


    </main>
</Layout>
 