---
import "../styles/pedidos.css"
import Layout from "../layouts/Layout.astro"
---
 
 <Layout>
        <audio autoplay>
        <source src="../assets/music/米津玄師 Kenshi Yonezu - KICKBACK.m4a"></audio>
    </audio>
    <div class="coffi_title">
        <h1>Aqui en nuestra pagina puedes pedir</h1>
    </div>
    <main class="informacion_grid">

        <div class="info_grid_1">
            <h1>Cafe</h1>
            <img src="/images/Cafe.jpg" alt="1">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>

        <div class="info_grid_2">
            <h1>Capuchino</h1>
            <img src="/images/Capuchino.jpg" alt="2">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>

        <div class="info_grid_3">
            <h1>Cafe con Leche</h1>
            <img src="/images/Milk.jpg" alt="3">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>

        <div class="info_grid_4">
            <h1>Galletas</h1>
            <img src="/images/Galleta.jpg" alt="4">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>

        <div class="info_grid_5">
            <h1>Hotcakes</h1>
            <img src="/images/Panqueques.jpg" alt="5">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>

        <div class="info_grid_6">
            <h1>Pastel de Chocolate</h1>
            <img src="/images/Pastel.jpg" alt="6">
            <div class="precio">
                <h1>cuesta 3232$</h1>
            </div>
            <button class="button">
                <a href="/Sell">PEDIR</a>
            </button>
        </div>
    </main>    
 </Layout>
