---
import "../styles/nav.css"
---
<nav class="navbar">
  <ul class="navbar-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/Information">Información</a></li>
    <li><a href="/Pedidos">Pedidos</a></li>
  </ul>
</nav>
