---
import Home from "../pages/Home.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link  type="images/png" href="/images/rara.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Le Biscuit</title>
	</head>
	<body>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>

